h1{
    background-color: peru;
    text-align: center;

}
span{
    text-align: center;
}

h1:hover{
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

body{
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

table:hover{
    background: #009FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img{
    transition: all 0.5 ease;
    border-style: solid;
    border-color: aqua;

}

img:hover{
    transform: scale(0.9);
    border-radius: 30px;
}

.imagen img{
    width: 49%;
    float: left;
    
    
}

.imagen{
    display: block;
    margin: auto;
}
div {
    background-image: url("images/t-rex.jpg");
    background-attachment: fixed;
  }

.lista{
    display: inline-block; text-align: left; 
}